<a href="https://colab.research.google.com/github/paulosalvatore/Ocean_Python_05_11_2020/blob/main/Ocean_Python_05_11_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def conversor_temperatura(tipo, temperatura):
  if tipo == 'c':
    celsius = temperatura
    farenheit = (9 * celsius / 5) + 32
    print(f'{celsius:.2f}ºC é igual a {farenheit:.2f}Fº')
  elif tipo == 'f':
    farenheit = temperatura
    celsius = 5 * (farenheit - 32) / 9
    print(f'{farenheit:.2f}ºF é igual a {celsius:.2f}Cº')


tipo_temperatura = input('celsius ou farenheit (C ou F): ').strip().lower()
temperatura = float(input(f'Digite a temperatura, em {tipo_temperatura.upper()}º: '))
conversor_temperatura(tipo_temperatura, temperatura)

conversor_temperatura('f', 212)

celsius ou farenheit (C ou F): c
Digite a temperatura, em Cº: 999
999.00ºC é igual a 1830.20Fº
212.00ºF é igual a 100.00Cº

In [19]:
def conversor_temperatura(tipo, temperatura):
  if tipo == 'c':
    celsius = temperatura
    farenheit = (9 * celsius / 5) + 32

    return farenheit
  elif tipo == 'f':
    farenheit = temperatura
    celsius = 5 * (farenheit - 32) / 9

    return celsius


def main():
  tipo_temperatura = input('Deseja converter celsius ou farenheit (C ou F): ').strip().lower()

  if tipo_temperatura != 'c' and tipo_temperatura != 'f':
    print('Tipo não suportado.')
    main()
  else:
    temperatura = float(input(f'Digite a temperatura, em {tipo_temperatura.upper()}º: '))
    temperatura_convertida = conversor_temperatura(tipo_temperatura, temperatura)

    tipo_conversao = 'f' if tipo_temperatura == 'c' else 'c'

    print(f'{temperatura:.2f}º{tipo_temperatura.upper()} é igual a {temperatura_convertida:.2f}{tipo_conversao.upper()}º')


main()

Deseja converter celsius ou farenheit (C ou F): c
Digite a temperatura, em Cº: 100
100.00ºC é igual a 212.00Fº

In [12]:
# Operador ternário no Python

idade = 15

maior_idade = idade >= 18

documento = 'cnh' if maior_idade else 'rg'
print(documento)

rg

In [31]:
# Criar uma nova lista
lista = [10, 30, 5, 4, 9, 12]

# Exibir a lista
print('lista:', lista, type(lista))

# Acessar um elemento de uma lista
# Lista na esquerda e [] com o índice na direita
print('lista[0]:', lista[0], type(lista[0]))

# Se declarar apenas o colchete com o número, criamos uma
# lista nova
print('[0]:', [0], type([0]))

# Criar uma lista com mais elementos
print('[0, 5, 6]:', [0, 5, 6], type([0, 5, 6]))

# Criando variável com item da lista
primeiro_elemento = lista[0]
print('primeiro_elemento:', primeiro_elemento)

lista: ([10, 30, 5, 4, 9, 12], <class 'list'>)
lista[0]: 10 <class 'int'>
[0]: [0] <class 'list'>
[0, 5, 6]: [0, 5, 6] <class 'list'>
primeiro_elemento: 10

In [39]:
# Pegando o último elemento

lista = [10, 30, 5, 4, 9, 12]
quantidade_elementos = len(lista)
ultimo_indice = quantidade_elementos - 1
ultimo_elemento = lista[ultimo_indice]

ultimo_elemento

6 5

12

In [46]:
# Pegando o último elemento

lista = [10, 30, 5, 4, 9, 12, 300]
print(lista[len(lista) - 1])

print(lista[-1])

300
300
10

In [68]:
# Acessar intervalos da lista

lista = [10, 30, 5, 4, 9, 12, 300]

# Começa no índice 0 e vai até o índice 2
print(lista[0:2])

# Comparando com horário do relógio:
# O curso do Ocean é das 13 às 16h
# das 13 às 16
# 13:16
# No python, o segundo número não é incluído
# Portanto, se a aula vai das 13h às 16h,
# a declaração seria 13:17, pois ele para antes do 17h

# Vai do segundo até o terceiro
print(lista[1:3])
#         0, 1,  2, 3, 4,  5,   6 
lista = [10, 30, 5, 7, 9, 12, 300] # Total 7 elementos
# Vai do quinto até o sétimo
print(lista[7 - 3:7])

#         0, 1,  2, 3, 4,  5,   6,  7,  8
lista = [10, 30, 5, 7] # Total 9 elementos
# Quero pegar sempre os três últimos
print(lista[len(lista) - 3:len(lista)])

#         0, 1,  2, 3, 4,  5,   6,  7,  8
lista = [10, 30, 5, 7] # Total 9 elementos
# Quero pegar sempre os três últimos
print(lista[-3:])

[10, 30]
[30, 5]
[9, 12, 300]
[30, 5, 7]
[30, 5, 7]

In [74]:
# Uma string nada mais é que uma cadeia de caracteres
# Ou seja, pode ser considerada com uma lista de caracteres

nome = "Paulo Salvatore"

primeira_letra = nome[0]

print(primeira_letra)

ultima_letra = nome[-1]

print(ultima_letra)

primeiro_nome = nome[0:5]
print(primeiro_nome)

P
e
Paulo

# Exercício 1

- Considere a string: `animais = "catdogfrog"`
- Declare a variável `cat` com os três primeiros itens da `string`.
- Declare a variável `dog` a partir do 4º caractére até o 6º.
- Declare a variável `frog` a partir do 7º caractére até o final.
- Exiba o conteúdo das variáveis no console.

In [76]:
animais = 'catdogfrog'

cat = animais[:3]
dog = animais[3:6]
frog = animais[-4:]

print(cat, dog, frog)

cat dog frog

In [96]:
# Declaro a lista
animais = ['morcego', 'papagaio', 'leão']
print(animais)

# Adiciono um elemento no final
animais.append('girafa')
print(animais)

# Substituo o primeiro elemento (ou qualquer um, acessando pelo índice)
animais[0] = 'cachorro'
print(animais)

# Inserindo um elemento em algum índice específico (sem substituir)
animais.insert(1, 'gato')
print(animais)

# Onde está a girafa?
# Obtendo o índice de um elemento pelo valor dele
indice_girafa = animais.index('girafa')
print("O elemento 'girafa' está no índice", indice_girafa)

# Como eu removo um elemento pelo valor?
animais.remove('leão')
print(animais)

# Como eu removo um elemento pelo índice?
del animais[1]
print(animais)

# Como eu removo o último elemento da lista?
animais.pop()
print(animais)

# Também posso passar um índice para que pop remova-o da lista
animais.pop(0)
print(animais)

# Quantidade de itens na lista
quantidade_elementos = len(animais)
print("A lista possui", quantidade_elementos, "elemento(s)")

# Qual a diferença entre o pop e o del?
# O pop retorna o valor que foi removido
# O del apenas remove, sem retornar esse valor

['morcego', 'papagaio', 'leão']
['morcego', 'papagaio', 'leão', 'girafa']
['cachorro', 'papagaio', 'leão', 'girafa']
['cachorro', 'gato', 'papagaio', 'leão', 'girafa']
O elemento 'girafa' está no índice 4
['cachorro', 'gato', 'papagaio', 'girafa']
['cachorro', 'papagaio', 'girafa']
['cachorro', 'papagaio']
['papagaio']
A lista possui 1 elemento(s)

In [89]:
# Pop vs Del

animais = ['morcego', 'papagaio', 'leão']
print(animais)

indice = 1

# Quero obter o 'papagaio', mas automaticamente já removê-lo da lista, posso usar o pop

animal = animais.pop(indice)

print(animal)
print(animais)

['morcego', 'papagaio', 'leão']
papagaio
['morcego', 'leão']

In [91]:
# Como seria o mesmo código anterior usando o del?

# Pop vs Del

animais = ['morcego', 'papagaio', 'leão']
print(animais)

indice = 1

# Quero obter o 'papagaio', mas automaticamente já removê-lo da lista, posso usar o pop

animal = animais[indice]
del animais[indice]

print(animal)
print(animais)

['morcego', 'papagaio', 'leão']
papagaio
['morcego', 'leão']

In [90]:
# Criando listas com várias posições

lista = [0] * 5
print(lista)

[0, 0, 0, 0, 0]

In [103]:
# For: Vai varrer TODA a lista
# Também é possível usar o for para executar um determinado número de vezes

animais = ['gato', 'cachorro', 'papagaio', 'girafa', 'morcego']

print(animais[0])
print(animais[1])
print(animais[2])
print(animais[3])

print('\n')

# Posso substituir os prints por um for, que irá rodar um print para cada animal da lista

for animal in animais:
  # Em cada execução, teremos um valor diferente na variável animal
  print(animal)

gato
cachorro
papagaio
girafa


gato
cachorro
papagaio
girafa
morcego

# Exercício 2

- Crie uma lista que armazena diversos números e para cada número na lista, exiba o resultado da multiplicação desse número por 2.

In [104]:
numeros = [4, 7, 9, 12]

for numero in numeros:
  print(numero * 2)

8
14
18
24

# Exercício 3

- Nesse `for` que acabaram de criar, exiba apenas os números em que o resultado da multiplicação por 2, está entre 5 e 10

In [115]:
numeros = [3, 3.5, 7, 9, 12, 1, 3.2, 4.5]

for numero in numeros:
  multiplicacao = numero * 2
  
  if multiplicacao >= 5 and multiplicacao <= 10:
    print(f'{numero:.1f} * 2 = {multiplicacao:.1f}')

3.0 * 2 = 6.0
3.5 * 2 = 7.0
3.2 * 2 = 6.4
4.5 * 2 = 9.0

In [119]:
# Para fazer um for que rode um determinado número de vezes, sem necessariamente varrer uma lista
# utilizamos o range

# range(3) -> [0, 1, 2]
# range(5) -> [0, 1, 2, 3, 4]

# Range é um tipo de variável customizado, mas que também pode ser "varrido" pelo for
# A melhor palavra para substituir esse "varrendo" o for, é o "iterable" ou simplesmente "iterável"
# Quando eu falo que uma informação é "interável", significa que eu posso percorrer por todos os elementos
# dessa informação, utilizando técnicas como "for", acesso via índice, etc

print(range(5), type(range(5)))

# Eu também posso converter o range(5) para uma lista

lista_numeros = list(range(5))
print(lista_numeros, type(lista_numeros))

for indice in range(5):
  print(indice)

range(0, 5) <class 'range'>
[0, 1, 2, 3, 4] <class 'list'>
0
1
2
3
4

In [121]:
# Pedir para o usuário construir uma lista de números

quantidade_elementos = int(input('Digite a quantidade de elementos desejada: '))

numeros = []

for indice in range(quantidade_elementos):
  numero_digitado = int(input("Digite um número: "))
  numeros.append(numero_digitado)

print('A minha lista de números ficou:', numeros)

Digite a quantidade de elementos desejada: 3
Digite um número: 44
Digite um número: 12
Digite um número: 74
A minha lista de números ficou: [44, 12, 74]

In [134]:
tupla = (5, 4, 9)

print(tupla, type(tupla))

# Tupla vs Lista

lista = [5, 4, 9]
lista[0] = 99
print(lista)
print(lista[0])

# Na tupla, não podemos mudar os valores dela
tupla = (5, 4, 9)
print(tupla)
print(tupla[0])

(5, 4, 9) <class 'tuple'>
[99, 4, 9]
99
(5, 4, 9)
5

In [138]:
# Apesar de parecer que uma tupla precisa de parênteses, na verdade ela não precisa

tupla = 4, 9, 2, 3
print(tupla, type(tupla))

tupla_um_elemento = 5,
print(tupla_um_elemento, type(tupla_um_elemento))

# Só necessário colocar os parênteses quando estou criando uma tupla dentro de uma chamada de função

# Por exemplo: exibir_numeros((5, 3)) -> Nesse caso, (5, 3) é uma tupla. Se eu passar sem os parênteses, o python
# entenderá que 5 e 3 são argumentos da função

def teste1(numeros):
  print(numeros, numeros[0])

teste1((5, 2))

def teste2(numero1, numero2):
  print(numero1, numero2)

teste2(5, 2)

(4, 9, 2, 3) <class 'tuple'>
(5,) <class 'tuple'>
(5, 2) 5
5 2

In [140]:
# Quero manipular a tupla, como faço? Simples, converte pra lista e trabalha normalmente

tupla = 5, 9, 1, 3

print(tupla, type(tupla))

lista_convertida = list(tupla)
print(lista_convertida, type(lista_convertida))
lista_convertida.append(5)
print(lista_convertida, type(lista_convertida))

(5, 9, 1, 3) <class 'tuple'>
[5, 9, 1, 3] <class 'list'>
[5, 9, 1, 3, 5] <class 'list'>

In [143]:
# Desconstrução de tuplas

tupla_animais = 'gato', 'papagaio', 'cachorro'

print(tupla_animais, type(tupla_animais))

animal1, animal2, animal3 = tupla_animais

print(animal1, animal2, animal3)

tupla = 125.5, 'C'

temperatura, tipo = tupla
print(f'{temperatura}º{tipo}')

('gato', 'papagaio', 'cachorro') <class 'tuple'>
gato papagaio cachorro
125.5ºC

In [145]:
# Utilizando a desconstrução de tuplas em uma função

def converter_temperatura():
  temperatura_convertida = 50.5
  tipo_temperatura = 'C'
  return temperatura_convertida, tipo_temperatura

temp, tipo = converter_temperatura()

print(temp, tipo)

50.5 C

In [146]:
def pegar_tupla_numeros():
  numeros = range(100)

  return tuple(numeros)


tupla_numeros = pegar_tupla_numeros()

print(tupla_numeros, type(tupla_numeros))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99) <class 'tuple'>

In [ ]:
# Objeto -> Programação Orientada a Objetos

# Dicionários -> São semelhantes as listas, mas eu consigo dar nomes aos índices
# Funciona parecido com um objeto, mas é mais simples

# Exercício 4

- Peça para o usuário digitar 5 números
- Adicione esses números em uma lista
- Utilizando um `for`, exiba quais números são `pares` e quais são `ímpares`
- Para saber se um número é par, o resto da divisão inteira desse número por `2` precisa ser igual a `0`
- Para obter o resto da divisão inteira de um número, utilize o operador `%`. Exemplo: `5 % 2` deve ser igual a `1`, pois o resto da divisão inteira de `5` por `2` é `1`

In [148]:
for indice in range(5):
  numero_digitado = int(input(f"Digite o {indice + 1}º número: "))

  if numero_digitado % 2 == 0:
    print(f"O número {numero_digitado} é par.")
  else:
    print(f"O número {numero_digitado} é ímpar.")

Digite o 1º número: 5
O número 5 é ímpar.
Digite o 2º número: 12
O número 12 é par.
Digite o 3º número: 13
O número 13 é ímpar.
Digite o 4º número: 19
O número 19 é ímpar.
Digite o 5º número: 20
O número 20 é par.

In [149]:
numeros_pares = []
numeros_impares = []

for indice in range(5):
  numero_digitado = int(input(f"Digite o {indice + 1}º número: "))

  if numero_digitado % 2 == 0:
    numeros_pares.append(numero_digitado)
  else:
    numeros_impares.append(numero_digitado)

print("Os números digitados que são pares:", numeros_pares)
print("Os números digitados que são ímpares:", numeros_impares)

Digite o 1º número: 10
Digite o 2º número: 11
Digite o 3º número: 4
Digite o 4º número: 3
Digite o 5º número: 8
Os números digitados que são pares: [10, 4, 8]
Os números digitados que são ímpares: [11, 3]

In [150]:
# Dicionários são semelhantes às listas, porém, podemos dar nomes aos índices

dicionario = {
    'nome_indice': 'valor'
}
print(dicionario)

item = dicionario['nome_indice']
print(item)

{'nome_indice': 'valor'}
valor

In [163]:
paulo = {
    'nome': 'Paulo',
    'sobrenome': 'Salvatore',
    'idade': 26,
    'altura': 1.65
}

giovanna = {
    'nome': 'Giovanna',
    'sobrenome': 'Souza',
    'idade': 23,
    'cor_cabelo': 'Loiro',
    'altura': 1.63
}

def exibir_pessoa(pessoa):
  print(f"{pessoa['nome']} {pessoa['sobrenome']}")
  print(f"Idade: {pessoa['idade']}")

  if 'cor_cabelo' in pessoa:
    print(f"Cor do Cabelo: {pessoa['cor_cabelo']}")

  if 'altura' in pessoa:
    print(f"Altura: {pessoa['altura']}m")

  print()


exibir_pessoa(paulo)
exibir_pessoa(giovanna)

Paulo Salvatore
Idade: 26
Altura: 1.65m

Giovanna Souza
Idade: 23
Cor do Cabelo: Loiro
Altura: 1.63m

In [165]:
# Bônus time

pessoas = [
  {
    'nome': 'Paulo',
    'sobrenome': 'Salvatore',
    'idade': 26,
    'altura': 1.65
  },
  {
    'nome': 'Giovanna',
    'sobrenome': 'Souza',
    'idade': 23,
    'cor_cabelo': 'Loiro',
    'altura': 1.63
  },
  {
    'nome': 'Luiz',
    'sobrenome': 'Silva',
    'idade': 28,
    'cor_cabelo': 'Castanho',
    'altura': 1.71
  }
]

def exibir_pessoa(pessoa):
  print(f"{pessoa['nome']} {pessoa['sobrenome']}")
  print(f"Idade: {pessoa['idade']}")

  if 'cor_cabelo' in pessoa:
    print(f"Cor do Cabelo: {pessoa['cor_cabelo']}")

  if 'altura' in pessoa:
    print(f"Altura: {pessoa['altura']}m")

  print()


for pessoa in pessoas:
  exibir_pessoa(pessoa)

Paulo Salvatore
Idade: 26
Altura: 1.65m

Giovanna Souza
Idade: 23
Cor do Cabelo: Loiro
Altura: 1.63m

Luiz Silva
Idade: 28
Cor do Cabelo: Castanho
Altura: 1.71m

In [172]:
dicionario = {
    'chave1': 'valor1',
    'chave2': 'valor2',
    'chave3': 'valor3',
    'chave4': 'valor4',
    'chave5': 'valor5'
}

# print(dicionario)
# print(dicionario.keys())

# Outra forma de pegar chaves
for key in dicionario.keys():
  print(dicionario[key])

# Chaves e índices numéricos
for indice, chave in enumerate(dicionario):
  print(chaindiceve, chave)

# Apenas chaves:
for chave in dicionario:
  print(chave)

valor1
valor2
valor3
valor4
valor5
0 chave1
1 chave2
2 chave3
3 chave4
4 chave5
chave1
chave2
chave3
chave4
chave5

In [176]:
# Se quiserem estudar

config = {
    'f': {
        'c': lambda f: 5 * (f - 32) / 9
    },
    'c': {
        'f': lambda c: (9 * c / 5) + 32,
        'k': lambda c: c + 273.15
    }
}


def converter_temperatura(de, para, valor):
  if de in config and para in config[de]:
    return config[de][para](valor)
  else:
    print("Tipo não suportado.")


print(converter_temperatura('c', 'f', 100))
print(converter_temperatura('f', 'c', 212))
print(converter_temperatura('c', 'k', 0))

212.0
100.0
273.15